/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* --------------------------
  common styles or utilities 
----------------------------- */
body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
}
main{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 130px;
}

/* ----------------
  banner styles 
------------------ */
header{
  display: flex;
  justify-content: center;
}
.banner-area{
  width: 90%;
  height: 613px;
  display: flex;
  justify-content: space-around;
  background-color: #161616;
  color: #FFFFFF;
  margin-top: 50px;
  border-radius: 30px;
}
.banner-info{
  width: 495px;
  display: flex;
  align-items: center;
}
.banner-info h1{
  font-size: 70px;
  line-height: 80px;
  margin: 0;
}
.banner-info p{
  margin: 20px 0;
}
.link-btn{
  text-decoration: none;
  background-color: #DD0000;
  border-radius: 5px;
  padding: 16px 25px;
  color: #FFFFFF;
  font-size: 20px;
}
.fa-solid.fa-angle-right{
  margin-left: 10px;
}
.banner{
  width: 495px;
  margin-top: 33px;
}
.banner img{
  width: 100%;
  height: 100%;
}

/* ------------------------
  world cup detail styles 
--------------------------- */
.world-cup-area{
  width: 90%;
  display: flex;
  column-gap: 24px;
}

.world-cup-area nav{
  width: 252px;
  height: 252px;
  background-color: #161616;
  border-radius: 10px;
  padding: 33px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.info-link-btn{
  text-decoration: none;
  border-radius: 10px;
  text-align: center;
  padding: 17px 0;
  background-color: #FFFFFF;
  color: #161616;
  font-size: 20px;
  font-weight: 500;
}
#blog-link-btn{
  background-color: #DD0000;
  color: #FFFFFF;
}

.blogs{
  border: 1px solid yellowgreen;
  flex-grow: 1;
}