/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* --------------------------
  common styles or utilities 
----------------------------- */
body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
}
main{
  margin: 130px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container{
  border: 1px solid red;
  width: 90%;
}

/* ----------------
  banner styles 
------------------ */
header{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.banner-area{
  height: 646px;
  background-color: #161616;
  border-radius: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.banner-info{
  border: 1px solid blue;
  width: 520px;
  color: #FFFFFF;
}
.banner-info h1{
  font-size: 70px;
  line-height: 80px;
  margin: 0;
}
.short-text{
  border: 1px solid red;
  margin-top: 20px;
  margin-bottom: 25px;
}
.link-btn{
  text-decoration: none;
  background-color: #DD0000;
  border-radius: 5px;
  padding: 16px 25px;
  color: #FFFFFF;
  font-size: 20px;
}
.fa-solid.fa-angle-right{
  margin-left: 10px;
}

.banner{
  border: 1px solid darkorange;
  width: 580px;
  height: 100%;
  display: flex;
  align-items: flex-end;
}
.banner img{
  width: 100%;
}

/* ------------------------
  world cup detail styles 
--------------------------- */
.world-cup-area{
  display: flex;
  column-gap: 24px; 
}

.world-cup-area nav{
  border: 1px solid salmon;
  width: 252px;
  height: 252px;
  background-color: #161616;
  border-radius: 10px;
  padding: 33px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.info-link-btn{
  text-decoration: none;
  width: 252px;
  padding: 17px 0;
  background-color: #FFFFFF;
  border-radius: 10px;
  text-align: center;
  color: #161616;
  font-size: 20px;
  font-weight: 500;
}
#blog-link-btn,
#match-link-btn{
  background-color: #DD0000;
  color: #FFFFFF;
}

.blogs{
  border: 1px solid darkgoldenrod;
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
.blog{
  border: 1px solid #E8E8E8;
  border-radius: 10px;
}
.blog img{
  width: 100%;
}
.blog-detail{
  padding: 20px;
}
.transfer-link-btn{
  text-decoration: none;
  border: 1px solid #161616;
  border-radius: 5px;
  padding: 4px 17px;
  color: #161616;
  font-weight: 500;
}
.blog-title{
  font-size: 18px;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 20px;
}

.blog-info{
  font-size: 16px;
  color: rgba(22, 22, 22, 0.7);
}
.fa-regular.fa-clock{
  margin-right: 10px;
}
.fa-regular.fa-comment-dots{
  margin-left: 30px;
  margin-right: 10px;
}
.view-all{
  display: none;
}
/* ----------------
  footer styles 
------------------- */
footer{
  background-color: #161616;
  padding: 130px 0px;
  display: flex;
  justify-content: center;
}
footer h2{
  font-size: 40px;
  font-weight: 600;
  margin: 0;
  text-align: center;
  color: #FFFFFF;
}
footer hr{
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin: 50px 0;
}
footer ul{
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}
footer li{
  list-style: none;
}
footer li a{
  text-decoration: none;
  color: #B9B9B9;
  font-weight: 500;
}
.social-icons{
  width: 170px;
  display: flex;
  justify-content: space-between;
  margin: 40px auto 0;

}
.fa-brands{
  font-size: 28px;
  color: #FFFFFF;
}

/* -------------------
    Media Queries 
-----------------------*/
/* Mobile Devices */
@media only screen and (max-width: 688px) {
  .banner-area{
    height: auto;
    border-radius: 10px;
    flex-direction: column;
  }
  .banner-info, .banner{
    width: 85%;
    text-align: center;
    margin-top: 28px;
  }
  .banner-info h1{
    font-size: 24px;
    line-height: 34px;
  }
  .short-text{
    margin: 8px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .link-btn{
    padding: 8px 12px;
  }

  main{
    margin: 24px 0;
  }
  .world-cup-area{
    flex-direction: column;
    row-gap: 24px;
  }
  .world-cup-area nav{
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
    padding: 0;
    align-items: center;
    row-gap: 16px;
  }
  .info-link-btn{
    width: auto;
    padding: 10px 20px;
    border: 1px solid #E8E8E8;
  }
  .blogs{
    grid-template-columns: repeat(1, 1fr);
  }

  footer{
    padding: 24px 0px;
  }
  footer h2{
    font-size: 22px;
  }
  footer hr{
    margin: 24px 0;
  }
  footer ul{
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }
}

/* tablet devices */
@media only screen and (min-width: 688px) and (max-width: 992px) {
  .banner-area{
    height: 398px;
  }
  .banner-info{
    width: 270px;
  }
  .banner-info h1{
    font-size: 40px;
    line-height: 50px;
  }
  .short-text{
    margin: 10px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .link-btn{
    padding: 12px;
  }
  .banner{
    width: 323px;
  }
  
  main{
    margin: 70px 0;
  }
  .world-cup-area{
    flex-direction: column;
    row-gap: 30px;
  }
  .world-cup-area nav{
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
  }
  .info-link-btn{
    width: 210px;
    border: 1px solid #E8E8E8;
  }
  .blogs{
    grid-template-columns: repeat(2, 1fr);
  }
  .more-blog{
    display: none;
  }
  .view-all{
    display: block;
    margin-top: 50px;
    margin-bottom: 0;
  }

  footer{
    padding: 70px 0px;
  }
  footer hr{
    margin: 30px 0;
  }
}